@{
    ViewData["Title"] = "Home Page";
}

@model Survey

<form action="/survey" method="post">
<span asp-validation-for="name"></span>
    <label>Your Name:</label>
        <input asp-for="name">
    <label>Dojo Location:</label>
    <span asp-validation-for="location"></span>
            <select asp-for="location">
                <option value="San Jose">San Jose</option>
                <option value="OC">OC</option>
                <option value="Burbank">Burbank</option>
                <option value="Austin">Austin</option>
            </select>
    <label>Favorite Language:</label>
    <span asp-validation-for="language"></span>
            <select asp-for="language">
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="MEAN">MEAN</option>
                <option value="MERN">MERN</option>
            </select>
    <label> Comment (optional):</label>
    <span asp-validation-for="comment"></span>
        <textarea asp-for="comment" rows="3" cols="30"></textarea>
        <button>Submit</button> 
    </form>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
